@use "../../sass/variables" as *;

.pay {
    margin-top: 5rem;
    display: flex;
    padding-bottom: 5rem;

    label {
        color: #323232;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    input {
        padding: 10px;
        border-radius: 10px;
        height: 3rem;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 3rem;
        border: 1px solid gray;
    }

    &__left {
        width: 30%;
        margin-left: 10rem;
        display: flex;
        flex-direction: column;

        .check {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 1rem;
        }

        .labelCheck {
            margin-bottom: 2.5rem;
        }
    }

    &__right {
        margin-left: 10rem;
        box-shadow: 4px 4px 4px 4px gray;
        width: 30%;
        padding: 3rem 2rem;
        margin-bottom: 22rem;

        p {
            font-size: 25px;
            font-weight: 400;
            margin-right: 6rem;
            margin-bottom: 1.5rem;
        }

        &-value, &-total {
                display: flex;
                margin-top: 1.5rem;
                border-bottom: 2px solid #D9D9D9;
            }

        &-total {
            border: 0;
        }    
    }

    
}